importFrom("NLP", "content", "content<-", "meta")
importFrom("tm",
           "content_transformer", "PlainTextDocument",
           "SimpleSource", "eoi", "getElem", "stepNext")
importFrom("reticulate", "import", "iterate")

export("convert_mbox_eml",
       "MBoxSource",
       "readMail",
       "removeCitation",
       "removeMultipart",
       "removeSignature",
       "threads")

S3method("removeCitation", "MailDocument")
S3method("removeCitation", "character")
S3method("removeMultipart", "MailDocument")
S3method("removeMultipart", "character")
S3method("removeSignature", "MailDocument")
S3method("removeSignature", "character")

S3method("close", "MBoxSource")
S3method("getElem", "MBoxSource")
S3method("open", "MBoxSource")

S3method("content<-", "MailDocument")
